*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #c72323;
    text-decoration: none;
    display: inline-block;
}
body{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    font-style: 14px;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__inner{
    height: 80px;
    padding-top: 15px;
}
/* .btn__menu{
    width: 40px;
    display: none;
}
.btn__menu div{
    height: 5px;
    background-color: #000;
    margin-bottom: 5px;
} */
.menu__list{
    display: flex;
    justify-content: center;
}
.menu__list li{
    margin-left: 38px;
    text-decoration: none;
}

.menu__list a{
    font-style: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.menu__list a:hover{
    color: rgb(211, 136, 142);
    transition: 0.2s ease-out;
}
.header{
    background-image: url(../images/fon.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.box
{
    position: relative;
    width: 450px;
    height: 650px;
    background: #000;
    margin: 20PX;
}
.content
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    color: #fff;
    padding: 20px;
    font-family: consolas;
    text-align: center;
}
.content a
{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.content a:hover 
{
    color: #fff;
    background: #fff;
}
.box img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1S;
}
.box:hover img
{
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}
.top
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}